.hero {
  margin-bottom: 230px;
}

.hero__text-section {
  text-align: center;
}

.hero__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.hero__subtitle {
  font-size: 18px;
  margin-bottom: 41px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 565px;
}