.menu {
  position: absolute;
  top: 38px;
  left: 439px;
}

.menu__list {
  display: flex;
}

.menu__item {
  vertical-align: middle;
  margin-right: 54px;
  font-size: 14px;
}

.menu__item:last-child {
  margin: 0;
}

.menu__link,
.menu__link:focus,
.menu__link:visited {
  color: #fff;
}

.menu__item--active .menu__link,
.menu__link:hover,
.menu__link:active {
  color: #FF3D00;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__footer {
  position: absolute;
  left: 329px;
  top: 37px;
}